.material-icons, .input-wrapper.valid:after, .input-wrapper.loading:after, .input-wrapper.invalid:after {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 1.5em;
  /* Preferred icon size */
  display: inline-block;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
  vertical-align: middle; }

@font-face {
  font-family: 'Advent Pro';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(/fonts/AdventPro/AdventPro-Thin.ttf); }

@font-face {
  font-family: 'Advent Pro';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(/fonts/AdventPro/AdventPro-ExtraLight.ttf); }

@font-face {
  font-family: 'Advent Pro';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/AdventPro/AdventPro-Light.ttf); }

@font-face {
  font-family: 'Advent Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/AdventPro/AdventPro-Regular.ttf); }

@font-face {
  font-family: 'Advent Pro';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/AdventPro/AdventPro-Medium.ttf); }

@font-face {
  font-family: 'Advent Pro';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/AdventPro/AdventPro-SemiBold.ttf); }

@font-face {
  font-family: 'Advent Pro';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/AdventPro/AdventPro-Bold.ttf); }

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/OpenSans/OpenSans-LightItalic.ttf); }

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/OpenSans/OpenSans-Italic.ttf); }

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/OpenSans/OpenSans-SemiBoldItalic.ttf); }

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/OpenSans/OpenSans-BoldItalic.ttf); }

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(/fonts/OpenSans/OpenSans-ExtraBoldItalic.ttf); }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/OpenSans/OpenSans-Light.ttf); }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/OpenSans/OpenSans-Regular.ttf); }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/OpenSans/OpenSans-SemiBold.ttf); }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/OpenSans/OpenSans-Bold.ttf); }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(/fonts/OpenSans/OpenSans-ExtraBold.ttf); }

@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-display: swap;
  src: url(/fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf); }

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-display: swap;
  src: url(/fonts/Raleway/Raleway-VariableFont_wght.ttf); }

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(/fonts/Roboto/Roboto-ThinItalic.ttf); }

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/Roboto/Roboto-LightItalic.ttf); }

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/Roboto/Roboto-Italic.ttf); }

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/Roboto/Roboto-MediumItalic.ttf); }

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/Roboto/Roboto-BoldItalic.ttf); }

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(/fonts/Roboto/Roboto-BlackItalic.ttf); }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(/fonts/Roboto/Roboto-Thin.ttf); }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/Roboto/Roboto-Light.ttf); }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/Roboto/Roboto-Regular.ttf); }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/Roboto/Roboto-Medium.ttf); }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/Roboto/Roboto-Bold.ttf); }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(/fonts/Roboto/Roboto-Black.ttf); }

:root {
  --color-fg: #dddddd;
  --color-fg-window: #f8f9fa;
  --color-fg-primary: #fdd1ff;
  --color-fg-secondary: rgba(255, 255, 255, 0.75);
  --color-fg-success: #70FF97;
  --color-fg-info: #80EEFF;
  --color-fg-warning: #FFCAA1;
  --color-fg-error: #FF8083;
  --color-bg: linear-gradient(180deg, #181324, black);
  --color-bg-window: #201A25;
  --color-bg-primary: #6D1072;
  --color-bg-secondary: #302638;
  --color-bg-success: #49A662;
  --color-bg-info: #549CA7;
  --color-bg-warning: #A68468;
  --color-bg-error: #A65355;
  --color-bg-input: #302638;
  --color-shadow-primary: magenta;
  --border-radius-btn: .25em;
  --border-radius-window: .25em;
  --border-radius-tabs: .25em;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Open Sans", "Helvetica Neue", Arial, "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-family-title: "Advent Pro", "Roboto", "Helvetica Neue", Arial, "Noto Sans", sans-serif; }

:root {
  --color-fg: #dddddd;
  --color-fg-window: #f8f9fa;
  --color-fg-primary: #fdd1ff;
  --color-fg-secondary: rgba(255, 255, 255, 0.75);
  --color-fg-success: #70FF97;
  --color-fg-info: #80EEFF;
  --color-fg-warning: #FFCAA1;
  --color-fg-error: #FF8083;
  --color-bg: linear-gradient(180deg, #181324, black);
  --color-bg-window: #201A25;
  --color-bg-primary: #6D1072;
  --color-bg-secondary: #302638;
  --color-bg-success: #49A662;
  --color-bg-info: #549CA7;
  --color-bg-warning: #A68468;
  --color-bg-error: #A65355;
  --color-bg-input: #302638;
  --color-shadow-primary: magenta;
  --border-radius-btn: .25em;
  --border-radius-window: .25em;
  --border-radius-tabs: .25em;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Open Sans", "Helvetica Neue", Arial, "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-family-title: "Advent Pro", "Roboto", "Helvetica Neue", Arial, "Noto Sans", sans-serif; }

.bg-window {
  background-color: var(--color-bg-window); }

.fg-window {
  color: var(--color-fg-window); }

.window {
  background-color: var(--color-bg-window);
  color: var(--color-fg-window); }

.bg-primary {
  background-color: var(--color-bg-primary); }

.fg-primary {
  color: var(--color-fg-primary); }

.primary {
  background-color: var(--color-bg-primary);
  color: var(--color-fg-primary); }

.bg-secondary {
  background-color: var(--color-bg-secondary); }

.fg-secondary {
  color: var(--color-fg-secondary); }

.secondary {
  background-color: var(--color-bg-secondary);
  color: var(--color-fg-secondary); }

.bg-success {
  background-color: var(--color-bg-success); }

.fg-success {
  color: var(--color-fg-success); }

.success {
  background-color: var(--color-bg-success);
  color: var(--color-fg-success); }

.bg-warning {
  background-color: var(--color-bg-warning); }

.fg-warning {
  color: var(--color-fg-warning); }

.warning {
  background-color: var(--color-bg-warning);
  color: var(--color-fg-warning); }

.bg-error {
  background-color: var(--color-bg-error); }

.fg-error {
  color: var(--color-fg-error); }

.error {
  background-color: var(--color-bg-error);
  color: var(--color-fg-error); }

.ml-auto {
  margin-left: auto !important; }

.mr-auto {
  margin-right: auto !important; }

.hidden {
  display: none !important; }

.v-hidden {
  visibility: hidden; }

.v-collapse {
  visibility: collapse; }

.row-table {
  display: table;
  width: 100%; }
  .row-table > * {
    display: table-cell; }

html {
  height: 100%; }

body {
  background: url(/img/bg.png) no-repeat;
  background-size: auto;
  background-attachment: fixed;
  /*background: var(--color-bg) no-repeat;*/
  color: var(--color-fg);
  font-family: var(--font-family-sans-serif); }

em, strong {
  display: inline; }

.content {
  padding: 1em; }

.text-muted {
  opacity: .75; }

.center-screen {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.fade-in-fast {
  animation: fade-in ease .25s; }

.fade-in {
  animation: fade-in ease .5s; }

.fade-in-slow {
  animation: fade-in ease 2s; }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.svg-icon {
  fill: currentColor;
  width: 1.5em;
  height: 1.5em; }

.material-icons, .input-wrapper.valid:after, .input-wrapper.loading:after, .input-wrapper.invalid:after {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 1.5em;
  /* Preferred icon size */
  display: inline-block;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
  vertical-align: middle; }

a {
  color: var(--color-fg-secondary); }

input, textarea, select {
  padding: .5em .75em;
  background: var(--color-bg-input);
  color: var(--color-fg-window);
  border: none;
  border-radius: var(--border-radius-window);
  opacity: .75;
  transition: opacity .35s;
  line-height: 1em; }
  input:hover, input:focus, textarea:hover, textarea:focus, select:hover, select:focus {
    opacity: 1;
    outline: none;
    transition: opacity .2s; }

.input-wrapper {
  position: relative; }
  .input-wrapper.valid > input {
    padding-right: 2.2em; }
  .input-wrapper.valid:after {
    content: "done";
    float: right;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: .25em;
    color: var(--color-fg-success); }
  .input-wrapper.loading > input {
    padding-right: 2.2em; }
  .input-wrapper.loading:after {
    content: "sync";
    float: right;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: .25em;
    color: var(--color-fg);
    animation: input-wrapper-loading-spin 1s infinite linear; }
  .input-wrapper.invalid > input {
    padding-right: 2.2em; }
  .input-wrapper.invalid:after {
    content: "error_outline";
    float: right;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: .25em;
    color: var(--color-fg-error); }

@keyframes input-wrapper-loading-spin {
  from {
    transform: translateY(-50%) rotate(0deg); }
  to {
    transform: translateY(-50%) rotate(-360deg); } }

button, .button, input[type=button], input[type=submit] {
  display: inline-block;
  padding: .5em .75em;
  text-decoration: none;
  color: var(--color-fg-secondary);
  background-color: var(--color-bg-secondary);
  transition: background-color linear 0.25s, opacity 0.25s, text-shadow 0.25s;
  border: 0;
  border-radius: --var(--border-radius-btn); }
  button:hover:not(:disabled), .button:hover:not(:disabled), input[type=button]:hover:not(:disabled), input[type=submit]:hover:not(:disabled) {
    color: var(--color-bg-secondary);
    background: var(--color-fg-secondary);
    box-shadow: 0 0 0.5em var(--color-fg-secondary);
    transition: background-color linear 0.15s, opacity 0.15s, text-shadow 0.15s; }
  button:focus, .button:focus, input[type=button]:focus, input[type=submit]:focus {
    outline: none; }
  button:disabled, .button:disabled, input[type=button]:disabled, input[type=submit]:disabled {
    opacity: .5; }
  button.primary, .button.primary, input[type=button].primary, input[type=submit].primary {
    color: var(--color-bg-primary);
    background-color: var(--color-fg-primary);
    box-shadow: 0 0 0.5em var(--color-shadow-primary); }
    button.primary:hover:not(:disabled), .button.primary:hover:not(:disabled), input[type=button].primary:hover:not(:disabled), input[type=submit].primary:hover:not(:disabled) {
      background-color: var(--color-fg); }

.button-group {
  display: flex;
  flex-direction: row; }
  .button-group > button, .button-group .button {
    margin-left: 0;
    margin-right: 0;
    border-radius: 0; }
    .button-group > button:first-child, .button-group .button:first-child {
      margin-left: 3px;
      border-radius: var(--border-radius-btn) 0 0 var(--border-radius-btn); }
    .button-group > button:last-child, .button-group .button:last-child {
      margin-right: 3px;
      border-radius: 0 var(--border-radius-btn) var(--border-radius-btn) 0; }
    .button-group > button:first-child:last-child, .button-group .button:first-child:last-child {
      margin-left: 3px;
      margin-right: 3px;
      border-radius: var(--border-radius-btn); }

.button-transparent {
  padding: .125em .25em;
  margin: 1px 3px;
  background-color: transparent; }

.button-undecorated {
  padding: 0;
  margin: 0;
  color: inherit;
  background: none;
  box-shadow: none;
  cursor: pointer; }
  .button-undecorated:hover:not(:disabled) {
    color: inherit;
    background: none;
    box-shadow: none; }

form {
  display: block; }

.form-label {
  margin-top: .5em;
  padding-right: .25em;
  text-align: right; }
  .form-label.required:after {
    content: '*';
    color: var(--color-fg-primary);
    font-size: 9pt;
    vertical-align: super;
    padding-left: .15em; }

.form-control {
  display: block;
  width: 100%;
  box-sizing: border-box; }

.dropdown {
  position: absolute;
  display: block;
  top: 100%;
  z-index: 100;
  min-width: 10rem;
  padding: .5rem 1rem;
  margin: .125rem;
  background-color: var(--color-bg-window);
  background-clip: padding-box;
  border-radius: var(--border-radius-btn);
  visibility: visible;
  transform: translateY(0);
  opacity: 1;
  transition: visibility 0s,  transform .25s ease-out, opacity .25s ease-out; }
  .dropdown.dropdown-right {
    right: .125rem;
    left: auto; }
  .dropdown.dropdown-large {
    min-width: 15rem; }
  .dropdown.hidden {
    visibility: hidden;
    display: block !important;
    transform: translateY(-10px);
    opacity: 0;
    transition: visibility 0s linear .15s,  transform .15s ease-in, opacity .15s ease-in; }

.nav-item .dropdown:before {
  content: "";
  position: absolute;
  left: var(--pos-left);
  right: var(--pos-right);
  top: -.75rem;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 .75rem .75rem .75rem;
  border-color: transparent transparent var(--color-bg-window) transparent;
  z-index: 9998; }

.popper-dropdown {
  position: absolute;
  min-width: 10rem;
  padding: .5rem 1rem;
  margin: .125rem;
  background-color: var(--color-bg-window);
  background-clip: padding-box;
  border-radius: var(--border-radius-btn);
  visibility: collapse;
  opacity: 0;
  transition: visibility 0s linear .15s, opacity .15s ease-in;
  z-index: 100; }
  .popper-dropdown[data-popper-placement^='top'] > .popper-arrow {
    bottom: -4px; }
  .popper-dropdown[data-popper-placement^='bottom'] > .popper-arrow {
    top: -4px; }
  .popper-dropdown[data-popper-placement^='left'] > .popper-arrow {
    left: -4px; }
  .popper-dropdown[data-popper-placement^='right'] > .popper-arrow {
    right: -4px; }

.popper-dropdown-show {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s,  opacity .25s ease-out; }

.popper-arrow, .popper-arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  z-index: -1; }

.popper-arrow::before {
  content: '';
  background: var(--color-bg-window);
  transform: rotate(45deg); }

.menu {
  padding: 0; }

.menu-items {
  list-style: none;
  padding: 0;
  margin: 0; }

.menu-item {
  transition: background-color linear 0.25s, opacity 0.25s, text-shadow 0.25s;
  padding: .5em 1em;
  margin: .1em 0;
  border: 0;
  border-radius: var(--border-radius-btn);
  color: var(--color-fg);
  cursor: pointer; }
  .menu-item:hover {
    color: var(--color-fg-secondary);
    background-color: var(--color-bg-secondary);
    transition: background-color linear 0.15s, opacity 0.15s, text-shadow 0.15s; }

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: .25em 1em;
  margin: 0; }

.navbar-fixed-top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  line-height: 2em;
  padding: .25em 0;
  height: 3em; }
  .navbar-fixed-top + *:first-of-type {
    margin-top: 3em; }

.navbar-brand {
  display: inline-block;
  font-size: 1.25em;
  margin: 0 1em;
  padding: 0;
  white-space: nowrap;
  text-decoration: none; }

.navbar-nav {
  display: flex;
  padding-left: 0;
  margin: 0 1em;
  padding: 0;
  flex-direction: row;
  list-style: none; }
  .navbar-nav > li {
    margin-left: .5em;
    margin-right: .5em; }
  .navbar-nav.navbar-nav-right {
    margin-left: auto; }

.toolbar {
  display: flex;
  flex-direction: row; }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  transition: visibility 0s, opacity 0.2s;
  /*    border-radius: .25em;
    background: var(--color-bg-secondary);*/ }
  .modal.hidden {
    display: flex !important;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear .2s, opacity 0.2s; }

.modal-content {
  background-color: var(--color-bg-window);
  border-radius: var(--border-radius-window);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  min-width: 20em;
  max-width: 50em;
  min-height: 10em;
  max-height: 100%;
  display: flex;
  flex-direction: column; }
  .modal-content hr {
    margin: .75em -.75em;
    border-width: 1px 0 0 0;
    border-color: rgba(15, 15, 15, 0.5);
    border-style: solid; }

.modal-header {
  padding: 1em 1.25em;
  border-radius: var(--border-radius-window) var(--border-radius-window) 0 0;
  display: flex;
  flex-direction: row;
  align-items: center; }
  .modal-header h3 {
    display: inline-block;
    margin: .125em 0;
    font-size: medium;
    font-weight: 500;
    font-family: Roboto; }
  .modal-header .modal-close {
    margin-left: auto;
    margin-right: 0; }
    .modal-header .modal-close > button {
      margin-right: 0; }

.modal-body {
  margin-bottom: auto;
  padding: .75em 1.25em;
  display: flex;
  flex-direction: column;
  overflow-y: auto; }

.tab-headers {
  display: flex;
  flex-direction: row; }

.tab-header {
  display: inline-block;
  padding: .5em 1.5em;
  background: transparent;
  opacity: .5;
  transition: opacity .35s, text-shadow .35s, clip-path 0.25s ease-in;
  border-bottom: 4px solid var(--color-fg-secondary);
  clip-path: polygon(calc(0%) calc(0%), calc(100%) calc(0%), calc(100%) calc(100% - 4px), calc(0%) calc(100% - 4px), calc(0%) calc(100% - 4px), calc(0%) calc(100%), calc(0%) calc(100%)); }
  .tab-header a {
    color: inherit;
    text-decoration: none; }
  .tab-header:hover {
    text-shadow: 0 0 0.5em var(--color-bg-secondary);
    transition: opacity .2s, text-shadow .2s;
    opacity: 1; }
  .tab-header.tab-header-selected {
    color: var(--color-fg-primary);
    border-bottom: 4px solid var(--color-fg-primary);
    margin-bottom: 0;
    transition: margin-bottom .15s, border-bottom .15s, opacity .25s, text-shadow .25s, clip-path 0.35s ease-out;
    text-shadow: 0 0 0.5em var(--color-shadow-primary);
    opacity: 1;
    clip-path: polygon(calc(0%) calc(0%), calc(100%) calc(0%), calc(100%) calc(100% - 4px), calc(0%) calc(100% - 4px), calc(100%) calc(100% - 4px), calc(100%) calc(100%), calc(0%) calc(100%)); }

.tab-content {
  padding: .5em; }

.tree-view > .tree-item-children {
  padding-left: 0; }

.tree-item-children {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  padding-left: 2em; }

.tree-item {
  list-style: none;
  vertical-align: middle; }
  .tree-item .tree-item-expand-icon {
    transition: transform linear .15s;
    margin: .25em;
    margin-left: -.25em; }
  .tree-item.collapsed .tree-item-expand-icon {
    transform: rotate(-90deg);
    transition: transform linear .15s; }
  .tree-item > .tree-item-content {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    transition: background-color linear 0.25s, opacity 0.25s, text-shadow 0.25s;
    padding: .4em .75em;
    margin: .1em 0;
    border: 0;
    border-radius: var(--border-radius-btn); }
    .tree-item > .tree-item-content:hover {
      color: var(--color-fg-secondary);
      background-color: var(--color-bg-secondary);
      transition: background-color linear 0.15s, opacity 0.15s, text-shadow 0.15s; }
  .tree-item.selected > .tree-item-content {
    color: var(--color-bg-secondary);
    background: var(--color-fg-secondary);
    box-shadow: 0 0 0.5em var(--color-fg-secondary);
    transition: background-color linear 0.15s, opacity 0.15s, text-shadow 0.15s; }
  .tree-item a {
    display: inline-block;
    text-decoration: none;
    color: inherit; }

.tree-subscription-icon {
  display: inline-block;
  font-size: 16pt;
  margin-right: .4em; }
  .tree-subscription-icon img {
    width: 1.5em;
    height: 1.5em; }

.tree-subscription-name {
  flex-grow: 1; }

.video-gallery .list-view-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  padding-left: 0;
  margin-left: -.75rem; }

.video-gallery .list-view-item {
  display: flex;
  flex-direction: row;
  align-content: stretch;
  margin-bottom: .5rem; }

.video {
  width: 18rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  transition: background-color linear 0.25s, opacity 0.25s, text-shadow 0.25s;
  border: 0;
  border-radius: var(--border-radius-btn); }
  .video:hover {
    color: var(--color-fg-secondary);
    background-color: var(--color-bg-secondary);
    transition: background-color linear 0.15s, opacity 0.15s, text-shadow 0.15s; }
    .video:hover .video-menu-link {
      visibility: visible; }
  .video .video-menu-link {
    visibility: collapse; }
  .video a {
    text-decoration: none; }
  .video h3 {
    font-size: 14pt;
    font-weight: normal;
    margin-top: .5em;
    margin-bottom: .25em; }
  .video img {
    width: 18rem;
    height: 11.25rem;
    object-fit: cover; }

.video-watched img {
  opacity: .5; }

.video-watched .video-text {
  opacity: .6; }

.video-body {
  flex-grow: 1;
  display: flex;
  flex-direction: row; }

.video-text {
  flex-grow: 1; }

.video-menu {
  margin-right: -.65em;
  margin-bottom: -.45em;
  align-self: flex-end; }

.video-image-wrapper {
  position: relative;
  display: block;
  width: 100%; }

.video-badges {
  position: absolute;
  top: .75em;
  right: .75em;
  display: flex;
  flex-direction: row; }

.video-badges-bottom {
  position: absolute;
  bottom: .75em;
  right: .75em;
  display: flex;
  flex-direction: row; }

.video-badge {
  color: white;
  opacity: .8;
  margin: 0 .25em;
  text-shadow: 1px 1px 3px black; }

:root {
  --color-fg: #dddddd;
  --color-fg-window: #f8f9fa;
  --color-fg-primary: #fdd1ff;
  --color-fg-secondary: rgba(255, 255, 255, 0.75);
  --color-fg-success: #70FF97;
  --color-fg-info: #80EEFF;
  --color-fg-warning: #FFCAA1;
  --color-fg-error: #FF8083;
  --color-bg: linear-gradient(180deg, #181324, black);
  --color-bg-window: #201A25;
  --color-bg-primary: #6D1072;
  --color-bg-secondary: #302638;
  --color-bg-success: #49A662;
  --color-bg-info: #549CA7;
  --color-bg-warning: #A68468;
  --color-bg-error: #A65355;
  --color-bg-input: #302638;
  --color-shadow-primary: magenta;
  --border-radius-btn: .25em;
  --border-radius-window: .25em;
  --border-radius-tabs: .25em;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Open Sans", "Helvetica Neue", Arial, "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-family-title: "Advent Pro", "Roboto", "Helvetica Neue", Arial, "Noto Sans", sans-serif; }

.logo, .logo-small {
  color: #fdd1ff;
  text-shadow: 0 0 0 transparent, 0 0 10px magenta, 0 0 20px rgba(255, 0, 255, 0.5), 0 0 40px magenta, 0 0 100px magenta, 0 0 200px magenta;
  font-family: "Advent Pro", sans-serif;
  font-weight: 200;
  font-size: 6em;
  text-transform: uppercase;
  letter-spacing: .025em; }

.logo-1 {
  color: #fdd1ff;
  text-shadow: 0 0 0 transparent, 0 0 10px magenta, 0 0 20px rgba(255, 0, 255, 0.5), 0 0 40px magenta, 0 0 100px magenta, 0 0 200px magenta; }

.logo-2 {
  color: #cdffe0;
  text-shadow: 0 0 0 transparent, 0 0 10px #00ff15, 0 0 20px rgba(0, 255, 21, 0.5), 0 0 40px #00ff15, 0 0 100px #00ff15, 0 0 200px #00ff15; }

.logo-3 {
  color: #ffd4de;
  text-shadow: 0 0 0 transparent, 0 0 10px #FF0F5C, 0 0 20px rgba(255, 15, 92, 0.5), 0 0 40px #FF0F5C, 0 0 100px #FF0F5C, 0 0 200px #FF0F5C; }

.logo-4 {
  color: #a1ffff;
  text-shadow: 0 0 0 transparent, 0 0 10px cyan, 0 0 20px rgba(0, 255, 255, 0.5), 0 0 40px cyan, 0 0 100px cyan, 0 0 200px cyan; }

.logo-6 {
  color: #fff6b3;
  text-shadow: 0 0 0 transparent, 0 0 10px #fff200, 0 0 20px rgba(255, 242, 0, 0.5), 0 0 40px #fff200, 0 0 100px #fff200, 0 0 200px #fff200; }

.logo-5 {
  color: #fdd1ff;
  text-shadow: 0 0 0 transparent, 0 0 10px magenta, 0 0 20px rgba(255, 0, 255, 0.5), 0 0 40px magenta, 0 0 100px magenta, 0 0 200px magenta; }

.logo-small {
  font-size: 2em; }

/* Loading animation */
.loading-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px; }
  .loading-dual-ring:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid var(--primary);
    border-color: var(--primary) transparent var(--primary) transparent;
    animation: loading-dual-ring 1.2s linear infinite; }

.loading-dual-ring-small {
  display: inline-block;
  width: 32px;
  height: 32px; }
  .loading-dual-ring-small:after {
    content: " ";
    display: block;
    width: 23px;
    height: 23px;
    margin: 1px;
    border-radius: 50%;
    border: 2.5px solid var(--primary);
    border-color: var(--primary) transparent var(--primary) transparent;
    animation: loading-dual-ring 1.2s linear infinite; }

@keyframes loading-dual-ring {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.loading-dual-ring-center-screen {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -32px;
  margin-left: -32px; }

:root {
  --color-fg: #dddddd;
  --color-fg-window: #f8f9fa;
  --color-fg-primary: #fdd1ff;
  --color-fg-secondary: rgba(255, 255, 255, 0.75);
  --color-fg-success: #70FF97;
  --color-fg-info: #80EEFF;
  --color-fg-warning: #FFCAA1;
  --color-fg-error: #FF8083;
  --color-bg: linear-gradient(180deg, #181324, black);
  --color-bg-window: #201A25;
  --color-bg-primary: #6D1072;
  --color-bg-secondary: #302638;
  --color-bg-success: #49A662;
  --color-bg-info: #549CA7;
  --color-bg-warning: #A68468;
  --color-bg-error: #A65355;
  --color-bg-input: #302638;
  --color-shadow-primary: magenta;
  --border-radius-btn: .25em;
  --border-radius-window: .25em;
  --border-radius-tabs: .25em;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Open Sans", "Helvetica Neue", Arial, "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-family-title: "Advent Pro", "Roboto", "Helvetica Neue", Arial, "Noto Sans", sans-serif; }

#toast-wrapper {
  position: fixed;
  right: 2rem;
  top: 2rem;
  z-index: 1000; }

.toast {
  min-width: 15rem;
  line-height: 1.5rem; }
  .toast .typcn {
    font-size: 1.5rem; }
  .toast.bg-success {
    background-color: var(--color-bg-success) !important; }
    .toast.bg-success .toast-header {
      background-color: var(--color-bg-success);
      color: var(--color-fg); }
      .toast.bg-success .toast-header > * {
        color: var(--color-fg); }
  .toast.bg-warning {
    background-color: var(--color-bg-warning) !important; }
    .toast.bg-warning .toast-header {
      background-color: var(--color-bg-warning);
      color: var(--color-fg); }
      .toast.bg-warning .toast-header > * {
        color: var(--color-fg); }
  .toast.bg-danger {
    background-color: var(--color-bg-error) !important; }
    .toast.bg-danger .toast-header {
      background-color: var(--color-bg-error);
      color: var(--color-fg); }
      .toast.bg-danger .toast-header > * {
        color: var(--color-fg); }

#main_footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2rem;
  line-height: 2rem;
  padding: 0 1rem;
  display: flex;
  align-content: center;
  font-size: 10pt; }

.black-overlay {
  position: fixed;
  /* Sit on top of the page content */
  display: none;
  /* Hidden by default */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Black background with opacity */
  z-index: 2;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */ }

/*.video-badges {
    position: absolute;
    top: .6em;
    left: 0;
    width: 6.2em;

    .video-badge {
        width: 100%;
        margin: 0 0 .6em 0;
        padding: 0 0 0 .5em;
        line-height: 1.65em;
        background-color: #9af;
        box-shadow: .2em 0 .6em 0 rgba(0,0,0,0.4);
        border-radius: 0 3px 3px 0;
        color: white;
        text-align: center;
        font-family: Noto Sans, Helvetica, Arial, sans-serif;
        font-weight: 500;
        font-size: 8pt;
        text-transform: uppercase;

        &.video-badge-new {
            background-color: var(--color-bg-primary);
        }

        &.video-badge-downloaded {
            background-color: #59b352;
        }

        &.video-badge-watched {
            background-color: #444;
        }
    }
}*/
.alert-card {
  max-width: 35rem;
  margin: 2rem 0; }

.no-asterisk .asteriskField {
  display: none; }

.modal-field-error {
  margin: 0.5rem 0;
  padding: 0.5rem 0; }
  .modal-field-error ul {
    margin: 0; }

.star-rating {
  display: inline-block;
  margin-bottom: 0.5rem; }

.btn-toolbar {
  margin: .5rem 0; }
  .btn-toolbar .btn {
    padding: 0.15rem 0.4rem;
    font-size: 14pt; }

.status-timestamp {
  margin-right: 0.25rem; }

.dropdown-jobs {
  min-width: 25rem; }
  .dropdown-jobs .dropdown-item p {
    margin: 0;
    line-height: normal; }

img.muted {
  opacity: .5; }

.provider-wrapper {
  padding-left: 5px;
  padding-right: 5px; }
  .provider-wrapper button {
    width: 100%; }

.provider-logo {
  display: inline-block;
  width: 8rem;
  height: 4rem;
  object-fit: contain;
  margin: .25em auto;
  font-size: 3rem;
  text-align: center;
  line-height: 4rem; }

.provider-status {
  font-size: 2rem;
  position: absolute;
  bottom: 0;
  right: .5rem; }
