<EditForm Model="Request"
          OnValidSubmit="OnSubmit"
          class="form-horizontal">

    <RgInputText Id="login_username"
                 @bind-Value="Request.Username"
                 Label="Username:"
                 Required="true"
                 ValidationFor="() => Request.Username"
                 autocapitalize="none" />

    <RgInputText Id="login_password"
                 @bind-Value="Request.Password"
                 Label="Password:"
                 type="password"
                 Required="true"
                 ValidationFor="() => Request.Username"
                 autocapitalize="none" 
                 autocomplete="new-password" />

    <div class="form-group">
        <DataAnnotationsValidator />
        <Microsoft.AspNetCore.Components.Forms.ValidationSummary />
        @if (loginMessage != null)
        {
            <p>@loginMessage</p>
        }
    </div>

    <div class="row">
        <div class="col-xs-12 row">
            <button class="primary ml-auto" type="submit" disabled="@SubmitClicked">@SubmitText</button>
            @ExtraButtons
        </div>
    </div>

</EditForm>
