@import "lib/import/icons_material";
@import "lib/import/font_adventpro";
@import "lib/import/font_opensans";
@import "lib/import/font_raleway";
@import "lib/import/font_roboto";
@import "lib/theme";
@import "lib/base";
@import "lib/controls";
@import "lib/dropdown";
@import "lib/nav";
@import "lib/toolbar";
@import "lib/modal";
@import "lib/tabs";
@import "lib/treeview";
@import "lib/videos";
@import "lib/logo";
@import "lib/loading";

//@import "lib/hamburger";
@import "lib/toast";

#main_footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2rem;
  line-height: 2rem;
  padding: 0 1rem;
  display: flex;
  align-content: center;
  font-size: 10pt;
}

.black-overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

/*.video-badges {
    position: absolute;
    top: .6em;
    left: 0;
    width: 6.2em;

    .video-badge {
        width: 100%;
        margin: 0 0 .6em 0;
        padding: 0 0 0 .5em;
        line-height: 1.65em;
        background-color: #9af;
        box-shadow: .2em 0 .6em 0 rgba(0,0,0,0.4);
        border-radius: 0 3px 3px 0;
        color: white;
        text-align: center;
        font-family: Noto Sans, Helvetica, Arial, sans-serif;
        font-weight: 500;
        font-size: 8pt;
        text-transform: uppercase;

        &.video-badge-new {
            background-color: var(--color-bg-primary);
        }

        &.video-badge-downloaded {
            background-color: #59b352;
        }

        &.video-badge-watched {
            background-color: #444;
        }
    }
}*/

.alert-card {
  max-width: 35rem;
  margin: 2rem 0;
}

.no-asterisk {
  .asteriskField {
    display: none;
  }
}

.modal-field-error {
  margin: 0.5rem 0;
  padding: 0.5rem 0;

  ul {
    margin: 0;
  }
}

.star-rating {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.btn-toolbar {
  margin: 0.5rem 0;

  .btn {
    padding: 0.15rem 0.4rem;
    font-size: 14pt;
  }
}

.status-timestamp {
  margin-right: 0.25rem;
}

.dropdown-jobs {
  min-width: 25rem;

  .dropdown-item p {
    margin: 0;
    line-height: normal;
  }
}

img.muted {
  opacity: 0.5;
}

.provider-wrapper {
  padding-left: 5px;
  padding-right: 5px;

  button {
    width: 100%;
  }
}

.provider-logo {
  display: inline-block;
  width: 8rem;
  height: 4rem;
  object-fit: contain;
  margin: 0.25em auto;
  font-size: 3rem;
  text-align: center;
  line-height: 4rem;
}

.provider-status {
  font-size: 2rem;
  position: absolute;
  bottom: 0;
  right: 0.5rem;
}

/* Edited by Palash */
/* -------------------*/
*::-webkit-scrollbar {display: none;}
* {scrollbar-width:none;}
body {
    background-size: cover;
    overflow: hidden;
}
.player-view {
padding: 5px;
flex-basis: 75%;
max-width: 75%;
// scroll function
overflow: auto !important;
box-sizing: border-box !important;
height: 100vh;
float: left !important;
}

.player-view {
form {
max-height: calc(95vh - 75px);
overflow-y: scroll;
margin: 30px;
}
}

.subs-view {
  padding: 5px;
  flex-basis: 25%;
  max-width: 25%;
  // scroll function
  overflow: auto;
  box-sizing: border-box;
  height: 100%;
  float: left;
}

.video-js {
width: calc(73vw - 7px);
height: calc(70vh - 34px);
margin: 3px auto;
}
.content {
    padding: 5px;
}
.tree-view {
overflow-y: scroll;
height: calc(87vh - 10px);
}

.player-view::-webkit-scrollbar,
.tree-view::-webkit-scrollbar,
.video-gallery::-webkit-scrollbar {
    display: none;
}
.player-view,
.tree-view,
.video-gallery{
scrollbar-width: none;
}

.video-gallery {
flex-flow: row wrap;
align-items: baseline;
justify-content: center;
height: 85vh;
overflow-y: scroll;
margin-left: 0.25rem;
}

.player-view-stats {
display: flex;
flex-flow: row;
justify-content: space-around;
align-items: flex-end;
}
.left-stats {
  float: left;
}

.right-stats {
float: right;
}

hr {
width: 10%;
text-align: center;
background-color: aqua;
}

.video-description {
  text-align: center;
}


/* Scrollbar Style - disabled in scrollless body */
/*
html {
--scrollbarBG: #CFD8DC;
--thumbBG: #90A4AE;
}

body::-webkit-scrollbar {
width: 11px;
}

body {
scrollbar-width: thin;
scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}
*/
