@typeparam Model

<div class="list-view @Class" @attributes="AdditionalAttributes">
    <ul class="list-view-items">
        @if (ItemsSource != null)
        {
            @foreach (var item in ItemsSource)
            {
                <li class="list-view-item">
                    @ItemTemplate(item)
                </li>
            }
        }
    </ul>
</div>
