<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

  <variable name="LogDirectory"
            value="${gdc:item=DataDirectory}/Logs"/>
  
  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>

    <target xsi:type="ColoredConsole"
            name="console"
            useDefaultRowHighlightingRules="true"
            layout="${logger:padding=-45}  ${level:truncate=4:uppercase=true}:  ${message}${exception:format=tostring}" />

    <target xsi:type="Debugger"
            name="debugger"
            layout="${logger:padding=-45}  ${level:truncate=4:uppercase=true}:  ${message}${exception:format=tostring}" />
    
    <!--<target xsi:type="Console"
            name="console"
            layout="${logger:padding=-45}  ${level:truncate=4:uppercase=true}:  ${message}${exception:format=tostring}" />-->

    <!-- File Target for all log messages with basic details -->
    <target xsi:type="File"
            name="txtFile" 
            fileName="${LogDirectory}/regard-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"
            maxArchiveFiles="10" 
            archiveNumbering="Rolling"
            archiveAboveSize="10485760"
            archiveFileName="${LogDirectory}/regard-${shortdate}.{#}.log"/>

    <!-- File Target for own log messages with extra web details using some ASP.NET core renderers -->
    <target xsi:type="File"
            name="csvFile"
            fileName="${LogDirectory}/regard-${shortdate}.csv">
      <layout xsi:type="CsvLayout"
              withHeader="true">
        <column name="Time" layout="${longdate}" />
        <column name="Callsite" layout="${callsite:includeSourcePath=true}" />
        <column name="Event Properties" layout="${event-properties:item=EventId_Id:whenEmpty=0}"/>
        <column name="Level" layout="${level:upperCase=true}"/>
        <column name="Message" layout="${message}" />
        <column name="Exception" layout="${exception:format=ToString}" />
        <column name="Request URL" layout="${aspnet-request-url}" />
        <column name="MVC Action" layout="${aspnet-mvc-action}" />
      </layout>
    </target>

  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
  
    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxlevel="Info" final="true" writeTo="" />
    <logger name="Quartz.*" maxlevel="Info" final="true" writeTo="" />
    <!-- BlackHole -->

    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Debug" writeTo="console, txtFile, csvFile, debugger" />

    <!--Output hosting lifetime messages to console target for faster startup detection -->
    <logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="console, csvFile" final="true" />

  </rules>
</nlog>