@inject AppController appCtrl
<Modal @ref="modal"
       IsCloseable="false"
       IsInitialVisible="true">
    <Title>@tabView?.SelectedPage?.Title</Title>
    <Body>
        <TabView @ref="tabView" ActivePageChanged="OnTabChanged">
            <TabPage>
                <Title>Login</Title>
                <Content>
                    <LoginForm LoggedIn="OnLoggedIn" />
                </Content>
            </TabPage>
            <TabPage>
                <Title>Register</Title>
                <Content>
                    <RegisterForm Registered="OnLoggedIn" />
                </Content>
            </TabPage>
        </TabView>
    </Body>
</Modal>

@code {
    Modal modal;
    TabView tabView;

    protected override void OnInitialized()
    {
        base.OnInitialized();

    }

    private void OnTabChanged()
    {
        StateHasChanged();
    }

    private void OnLoggedIn()
    {
        appCtrl.NavigateToFromUrl();
    }
}
