<Modal @ref="modal">
    <Title>Add video</Title>
    <Body>
        <EditForm Model="Request"
                  OnValidSubmit="OnSubmit">

            <RgFieldWrapper Id="subcreate_url"
                            Label="Url:" LabelWidth="2"
                            Required="true">
                <Field>
                    <div class="input-wrapper @UrlStateClass">
                        <BOIInputText @bind-Value="@Request.Url"
                                      @onkeyup="OnUrlKeyUp"
                                      type="url"
                                      id="register_username"
                                      class="form-control"
                                      autocomplete="username"
                                      autocapitalize="none"
                                      autofocus
                                      required>
                        </BOIInputText>
                    </div>
                </Field>
                <HelpText>Paste an URL to a video.</HelpText>
            </RgFieldWrapper>

            <div class="form-group row">
                <div class="col-xs-12 fg-error">
                    @ValidationMessage
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 row">
                    <button class="primary ml-auto" type="submit" disabled="@(!SubmitEnabled)">Create</button>
                </div>
            </div>

        </EditForm>
    </Body>
</Modal>

