@page "/auth/login"
@inject MainAppController appCtrl

<h3>Login</h3>

<LoginForm SubmitText="Login" LoggedIn="OnFormCompleted" />

@code {
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await appCtrl.OnInitialize();
    }

    private void OnFormCompleted()
    {
        appCtrl.NavigateToFromUrl();
        StateHasChanged();
    }
}
