@page "/auth/register"
@inject MainAppController appCtrl

<h3>Login</h3>

<RegisterForm SubmitText="Register" LoggedIn="OnFormCompleted" />

@code {
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await appCtrl.OnInitialize();
    }

    private void OnFormCompleted()
    {
        appCtrl.NavigateToFromUrl();
    }
}
