<nav class="navbar navbar-fixed-top">
    <NavLink class="navbar-brand nav-link logo-small" href="" Match="NavLinkMatch.All">
        Regard
    </NavLink>

    <AuthorizeView>
        <Authorized>
            <ul class="navbar-nav navbar-nav-right">
                <li class="nav-item" onclick="">

                    <a @ref="notificationsLink" href="#" class="nav-link" @onclick="@ToggleNotificationsPanel" @onclick:preventDefault="true">
                        <Icon Glyph="HaveNotifications ? Icons.NotificationsFull : Icons.NotificationsEmpty" />
                    </a>
                    <DropDownPanel @bind-IsVisible="NotificationsPanelVisible"
                                   AttachTo="notificationsLink"
                                   Placement="Popper.Placement.Bottom"
                                   Offset="15">
                        Notifications panel
                    </DropDownPanel>
                </li>
                <li class="nav-item">
                    <a @ref="userLink" href="#" class="nav-link" @onclick="@ToggleUserPanel" @onclick:preventDefault="true">
                        <Icon Glyph="Icons.Profile" />
                    </a>
                    <DropDownPanel @bind-IsVisible="UserPanelVisible"
                                   AttachTo="userLink"
                                   Placement="Popper.Placement.Bottom"
                                   Offset="15">
                        This will be the user panel
                    </DropDownPanel>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/settings">
                        <Icon Glyph="Icons.Settings" />
                    </NavLink>
                </li>
            </ul>
        </Authorized>
    </AuthorizeView>
</nav>
