@page "/setup/welcome"
@inject MainAppController appCtrl

<h3>Welcome to Regard!</h3>

<p>This wizard will guide you through setting up the application.</p>

<button class="btn btn-primary" @onclick="GoNext" disabled="@NextClicked">Next</button>

@code {
    bool NextClicked { get; set; }

    override protected async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await appCtrl.OnInitialize();
    }

    private async Task GoNext()
    {
        NextClicked = true;
        await appCtrl.ContinueSetup();
    }
}
