@page "/auth/login"
@inject AppController appCtrl

<h3>Login</h3>

<LoginForm SubmitText="Login" LoggedIn="OnFormCompleted" />

@code {

    private void OnFormCompleted()
    {
        appCtrl.NavigateToFromUrl();
        StateHasChanged();
    }
}
