@page "/auth/register"
@inject AppController appCtrl

<h3>Login</h3>

<RegisterForm SubmitText="Register" LoggedIn="OnFormCompleted" />

@code {
    private void OnFormCompleted()
    {
        appCtrl.NavigateToFromUrl();
    }
}
